
$c-white: #fff;
$c-dark-blue: #262A3F;
$c-deep-blue: #161926;
$c-dark-gray: #515773;
$c-coral:#F1897B;
$c-neon: #53F3CD;

$c-coral-hover: #E54F3A;
$c-neon-hover: #02E0AB;

$c-text--green: #85BBB1;
$c-text--blue: #689FF2;
$c-text--gray: #E4E4E4;

$transition: all .2s linear;