/* #region COLORS*/
$c-white: #fff;

$c-primary-dark-blue: #262A3F;
$c-primary-coral:#F1897B;
$c-primary-neon: #53F3CD;

$c-hover-coral: #E54F3A;
$c-hover-neon: #02E0AB;

$c-text--green: #85BBB1;
$c-text--blue: #689FF2;
/* #endregion*/

$transition: all .2s linear;